.busdir-form {

}

.busdir-form .control-label {
    width: 160px;
    float: left;
    text-align: right;
    padding-top: 5px;
}

.busdir-form .control-group {
    margin-bottom: 20px;
    display: block;
}
.busdir-form .control-group-button {
    margin-left: 160px;
    margin-bottom: 5px;
}

.busdir-form input,
.busdir-form select {
    margin-left: 20px;
}