.busdir .control-label {
    width: 160px;
    float: left;
    text-align: right;
}

.busdir .control-value {
    margin-left: 20px;
    height: 20px;
}

.busdir .control-group {
    margin-bottom: 20px;
    display: block;
}
.busdir .control-group-button {
    margin-left: 160px;
    margin-bottom: 5px;
}

.busdir input,
.busdir select {
    margin-left: 20px;
}

.busdir .busdir-photo {
    max-width: 150px;
    max-height: 150px;
}

a.returnLink {
    margin-left: 180px;
}