/*Main content*/

#main-container{
	min-height: calc(100% - 90px - 70px)!important;
	background: #eeeeee;
	padding-bottom: 50px;
}

.section-title{
	text-align: center;
	font-family: Lato;
	font-weight: normal;
	font-size: 38px;
	color: #00a0e3;
	margin: 10px auto;
	padding: 0 20px;
}

.section-subtitle{
	margin: 0;
	position: relative;
	text-align: left;
	font-family: Lato, Helvetica;
	font-weight: normal;
	color: #58585b;
	font-size: 20px;
	padding: 30px 0 10px;
	border-bottom: 1px solid #bac3c9;
}

/*Footer*/



/*CARDS*/

.but-save{
	display: block;
	position: relative;
	background: #48b86c;
	padding: 5px;
	height: 28px;
	width: 150px;
	color: white;
	font-family: helvetica;
	font-weight: normal;
	border: 1px solid #48b86c;
	border-radius: 3px;
	line-height: 17px;
	font-size: 14px;
	text-align: center;
	margin: 30px auto 0;
}

.but-save:hover{
	background: #36a359;
	color: white;
	border: 1px solid #48b86c;
	text-decoration: none;
}

.but-cancel{
	background: transparent;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	height: 28px;
	width: 64px;
	color: #e06752;
	font-family: helvetica;
	font-weight: normal;
	border: 1px solid #e06752;
	border-radius: 3px;
	line-height: 17px;
	font-size: 14px;
	text-align: center;
}

.but-cancel:hover{
	background: #e06752;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	height: 28px;
	color: white;
	width: 64px;
	font-family: helvetica;
	font-weight: normal;
	border: 1px solid #e06752;
	border-radius: 3px;
	line-height: 17px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.but-edit{
	background: transparent;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	width: 64px;
	color: #48b86c;
	font-family: helvetica;
	font-weight: normal;
	border: 1px solid #48b86c;
	border-radius: 3px;
	line-height: 17px;
	font-size: 14px;
	text-align: center;
}

.but-edit:hover{
	background: #48b86c;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	color: white;
	width: 64px;
	font-family: helvetica;
	font-weight: normal;
	border: 1px solid #48b86c;
	border-radius: 3px;
	line-height: 17px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.new-label{
	background: #f79439;
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 5px;
	height: 22px;
	width: 46px;
	color: white;
	font-family: helvetica;
	font-weight: bold;
	border-radius: 3px;
	line-height: 13px;
	font-size: 12px;
	text-align: center;
}

.card-about-info,
.profile-card,
.agency-card,
.team-card{
	margin: 20px auto 0;
	background: white;
	position: relative;
	height: auto;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.team-card:hover{
	background: #1aa1e0;
}

.team-card:hover .card-title a{
	color: white!important;
}

.team-card:hover .card-subtitle a{
	color: #1e3e78;
}

.card-about-info,
.card-header-info{
	padding: 30px;
}

.card-info{
	text-align: justify;
	font-family: Lato;
	font-weight: lighter;
	font-size: 16px;
	color: #58585b;
	line-height: 20px;
	padding: 0;
	margin: 10px 0px 0px;
}

.agency-photo{
	height: 100%;
	width: 100%;

}

.card-body-info{
	position: relative;
	padding: 0 50px 30px;
}

.card-info-title{
	text-align: left;
	font-family: Lato;
	font-weight: normal;
	font-size: 20px;
	color: #58585b;
	margin: 0px;
}

.card-title{
	text-align: center;
	font-family: Lato;
	font-weight: normal;
	font-size: 28px;
	color: #58585b;
	margin: 20px 0px 0px;
}

.card-date{
	text-align: center;
	font-family: Lato;
	font-weight: lighter;
	font-size: 16px;
	color: #f79439;
	margin: 0px;
}

.card-subtitle a,
.card-field a,
.card-title a{
	color: #58585b;
}

.card-team a,
.card-location a{
	color: #00a0e3;
	text-decoration: underline;
	position: relative;
}

.card-team a:hover,
.card-location a:hover{
	color: #1e3e78;
}

.card-team,
.card-location{
	text-align: center;
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
	color: #00a0e3;
}

.card-team span{
	color: #58585b;
	font-weight: 500;
}

.card-role,
.card-subtitle{
	text-align: center;
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
	color: #58585b;
	margin: 5px 0px 0px;
}

.card-field{
	position: relative;
	display: inline-block;
	text-align: left;
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
	color: #58585b;
	margin: 0;
	padding-left: 10px;
	width: calc(100% - 20px);
	line-height: 22px;
}

.field{
	padding: 0 20px;
	margin: 10px 0;
}

.about{
	margin: 20px 0;
	background: #fbfbf8;
	border: 1px solid #e4e4cb;
	padding: 20px;
}

.card-about{
	text-align: justify;
	position: relative;
	display: inline-block;
	font-family: Lato;
	font-weight: 300;
	font-size: 16px;
	color: #58585b;
	margin: 0px;
}

.field img{
	position: relative;
	display: inline-block;
	float: left;
}

.card-picture{
	position: relative;
	display: block;
	border-radius: 50px;
	margin: 0 auto;
}

.card-info-split{
	border-top: 1px solid #eeeeee;
	padding-top: 20px;
}

.gmaps{
	margin-bottom: -5px;
}

/*FORM*/

.form-field{
	position: relative;
	margin: 0 auto;
	display: table;
	width: 100%;
	height: auto;
}


.form-field input{
	width: calc(100% - 110px);
	height: 35px;
	margin: 6px auto;
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 5px 10px;
	text-align: left;
	font-family: Lato, Helvetica;
	font-weight: normal;
	color: #58585b;
	font-size: 16px;
	-webkit-appearance: none;
}

.form-field textarea{
	width: calc(100% - 110px);
	height: 130px;
	margin: 6px auto;
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 5px 10px;
	text-align: left;
	font-family: Lato, Helvetica;
	font-weight: normal;
	color: #58585b;
	font-size: 16px;
	-webkit-appearance: none;
}

.form-field select {
	width: calc(100% - 100px);
	margin: 6px auto;
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 5px 10px;
	text-align: left;
	font-family: Lato, Helvetica;
	font-weight: normal;
	color: #58585b;
	font-size: 16px;
	-webkit-appearance: none;
	background: #f6f6f6 url('../img/select.png') no-repeat right top;
	background-position: right 10px top 8px;
}

.form-field select:hover{
	background: #f8f8f0 url('../img/select.png') no-repeat right top;
	background-position: right 10px top 8px;
}

.form-field input:hover{
	background: #f8f8f0;
}

.form-field input:focus{
	background: white;
}

.form-field label{
	display: inline-block;
	position: relative;
	text-align: left;
	font-family: Lato, Helvetica;
	font-weight: bold;
	color: #58585b;
	padding: 0px;
	margin: 0 50px 0 0;
	font-size: 14px;
	line-height: 30px;
	width: 150px;
}


.change-photo{
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0px;
	height: auto;
	width: 100px;
	height: 100px;
	background: transparent;
}

.change-photo-btn{
	cursor: pointer;
	z-index: 600;
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: none;
	background: transparent;
}

.change-photo-btn:hover{
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: none;
	background: url('../img/ic_camera.png') no-repeat right top;
}

.change-photo-btn input{
	cursor: pointer;
	position: absolute;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height: 100px;
}


/*FOOTER*/

footer{
	height: 70px;
	background: #58585b!important;
	margin: 0 auto!important;
	padding: 20px;
}


footer p{
	position: relative;
	text-align: right;
	font-family: Lato, Helvetica;
	font-weight: lighter;
	color: #bac3c9;
	padding: 0px;
	margin: 0px 20px 0px 0px;
	font-size: 14px;
	line-height: 30px;
}


/*MAIN TEAMS*/

.list-group{
	margin: 20px auto 0;
	background: white;
	position: relative;
	height: auto;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
	border-radius: 0px;
	padding: 40px;
}

.list-group-item:hover{
	background: none!important;
	text-decoration: underline!important;
	color: #00a0e3!important;
}

.list-group-item{
	border: none;
	cursor: pointer;
}

.list-title{
	margin: 5px auto;
}

.level li{
	display: block!important;
	margin-top: 5px;
}

.level a{
	cursor: pointer;
}

.panel-body{
	padding: 30px!important;
	background: rgba(120, 120, 120, .15);
}

#menu ul{
	list-style: none;
	margin-bottom: 5px;
}

ul.level {
	margin-left: 60px;
}

.panel-title{
	text-align: left;
	font-family: Lato;
	font-weight: normal;
	font-size: 22px !important;
	display: inline-block;
	padding: 0 0 0 10px;
	color: #1aa1e0 !important;
	margin: 5px;
}

.panel-subtitle a{
	text-align: left;
	font-family: Lato;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
	padding: 0 0 0 10px;
	color: #58585b;

}

.panel-subtitle{
	display: inline-block;
}

.panel-default{
	background: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 20px!important;
}

.panel-group{
	margin: 50px auto;
}

.accordion{
	display: inline-block;
}

a.accordion{
	color: #58585b;
	text-decoration: none!important;
	width: 15px;
}

.accordion-arrow:before {
	content: "-";
}

/* Icon when the collapsible content is hidden */
.accordion-arrow.collapsed:before {
	content: "+";
}



/*MEDIA QUERIES*/


@media (max-width: 768px){

	#navbar{
		border: none;

	}

	.navbar-collapse ul{
		width: 100%;
		height: auto;
		display: table;
		margin: 0 auto 5px !important;
		border: none;
	}

	.navbar-collapse li{
		display: block!important;
		width: 100%;
		text-align: center;
		margin: 0 auto!important;
		padding: 10px;
	}

	.agency-card,
	.profile-card{
		margin: 30px 0;
	}

	.agency-card:first-child,
	.profile-card:first-child{
		margin: 0 0 30px;
	}

	.team-card:first-child{
		margin: 0 0 10px;
	}

	.section-title{
		margin-bottom: 20px;
	}

	.section-subtitle{
		margin-bottom: 20px;
		text-align: center;
		padding-bottom: 5px;
	}


}

@media (max-width: 992px){

	.agency-card,
	.profile-card{
		margin: 30px 0;
	}


	.agency-card:first-child,
	.profile-card:first-child,
	.team-card:first-child{
		margin: 0 0 10px;
	}

	.section-title{
		margin-bottom: 20px;
	}

	.section-subtitle{
		margin-bottom: 20px;
		padding-bottom: 5px;
	}

}